<a href="https://colab.research.google.com/github/Gnanigit/FMLLab/blob/main/3_cross_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# corss validation
#lower rmse - produces good predictions
import pandas as pd
import numpy as np

In [ ]:

#k-fold cross validation on simple linear regression

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/datasets/company.csv')
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
x=data.drop('Sales',axis=1).values
y=data['Sales'].values

In [ ]:
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [ ]:
x=data['TV'].values
x=x.reshape(-1,1)
y=y.reshape(-1,1)
x.shape,y.shape

((200, 1), (200, 1))

In [ ]:
from sklearn.model_selection import train_test_split,KFold,cross_val_score
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:

from sklearn.linear_model import LinearRegression
reg=LinearRegression()
folds=KFold(n_splits=5,shuffle=True,random_state=42)
scores=cross_val_score(reg,x_train,y_train,scoring='neg_mean_squared_error',cv=folds)

In [ ]:
from numpy import sqrt,absolute ,mean
print(sqrt(mean(absolute(scores))))

2.290471493318698

In [ ]:
scores_test=cross_val_score(reg,x_test,y_test,scoring='neg_mean_squared_error',cv=folds)

In [ ]:
print(sqrt(mean(absolute(scores_test))))

2.552915585049501

In [ ]:
#k-fold cross validation on multi linear regression

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import kFold,train_test_split,cross_val_score
from sklearn.linear_model  import LinearRegression

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/datasets/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
x=df.drop('Profit',axis=1).values
y=df['Profit'].values
x=df.select_dtypes(include=np.number)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
model=LinearRegression()

In [ ]:
scores_2=cross_val_score(model,x_train,y_train,scoring='neg_mean_squared_error',cv=folds)
print(sqrt(mean(absolute(scores_2))))

2.3815913713893304e-11

In [ ]:
scores_2_test=cross_val_score(model,x_test,y_test,scoring='neg_mean_squared_error',cv=folds)
print(sqrt(mean(absolute(scores_2_test))))

2.2307663627370337e-11